<form action="/createConversation" method="POST">
    <input type="text" placeholder="subject" name="subject"><br>
    <textarea type="text" placeholder="message details ..." name="content"></textarea><br>
    <button type="submit" >Message</button>
</form>